<h4 style="text-align: center; margin-top: 50px">Users table</h4>

<div *ngIf="isLoading$ | async">Loading...</div>

<div *ngIf="error$ | async as error">{{ error }}</div>

<div class="userTable">
  <table style="border: solid 1px; width: 100%; border-collapse: collapse">
    <tr *ngFor="let user of users$ | async" style="border-bottom: solid; ">
      <td class="name" style="text-align: left; border: solid 1px">{{ user?.name }}</td>
      <td class="city" style="text-align: right; border: solid 1px">{{ user?.address?.city }}</td>
    </tr>
  </table>
</div>
